@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInRight {
  from {
    transform: translateX(90%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.team-details {
  animation: slideInRight 1s ease-out; /* Adjust the duration and timing function as needed */
}


@keyframes slideInLeft {
  from {
    transform: translateX(-90%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.services-zoom-in {
  animation: slideInLeft 1s ease-out; /* Adjust the duration and easing as needed */  
}
